{% extends 'layout.html.twig' %}
{% block content %}
    <div class="confirmation">
        <h2>Bravo vous êtes inscrit</h2>
        <p>Un mail de confirmation vous a été envoyé</p>
        <a href="/admin">admin
        </a>
    </div>
{% endblock %}
